  <div class="center jumbotron">
    <h1>Mondegreen</h1>
    <h2>
      Hi there, this is a trial website for building a rails app.  There be microblogging of a twitter kind inside.
    </h2>

    <%= link_to "Sign up now!", signup_path, { class: "btn btn-long btn-primary", id: "sign-up-button" } %>
  </div>