Hi <%= @user.name %>,

You've requested a new account on Mondegreen. Click on the link below or copy
the link into your browser to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
