    <footer class="footer">
      <small>
        &copy; 2015 Mondegreen - Beta testing application
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Damien's Blog", "http://damienbyrne.wordpress.com/" %></li>
        </ul>
      </nav>
    </footer>